[submodule "policycompass-services"]
	path = policycompass-services
	url = https://github.com/policycompass/policycompass-services.git
[submodule "policycompass-frontend"]
	path = policycompass-frontend
	url = https://github.com/policycompass/policycompass-frontend.git
[submodule "policycompass-fcmmanager"]
	path = policycompass-fcmmanager
	url = https://github.com/policycompass/policycompass-fcmmanager.git
[submodule "carneades"]
	path = carneades
	url = https://github.com/carneades/carneades.git
[submodule "eventminer"]
	path = eventminer
	url = https://github.com/policycompass/eventminer.git
