*.pyc
include/
lib/
share/
local/
lib64
pyvenv.cfg
nix/
cache/downloads
cache/wheels
var/
bin/
selenium/
carneades.log
pip-selfcheck.json
etc/supervisor.conf
etc/mysupervisord.conf
etc/fcmmanager_web.xml
.idea
