PasteDeploy==1.5.2
WebOb==1.4
ipdb==0.8
ipython==2.1.0
py==1.4.20
pyramid==1.5.1
pytest==2.5.2
pytest-splinter==1.0.3
repoze.lru==0.6
requests==2.3.0
selenium==2.42.1
splinter==0.6.0
translationstring==1.1
venusian==1.0
wsgiref==0.1.2
zope.deprecation==4.1.1
zope.interface==4.1.1
